<h1>Topic Board: <%= @post.topic.title %></h1>

<h2>Post: <%= @post.title %></h2>

<%= @post.body %>

<%= simple_form_for @comment do |f| %>

  <%= f.hidden_field :post_id %>

  <%= f.input :body, label: "Comment" %><br>

  <%= f.button :submit %>

<% end %>

<% @post.comments.each do |comment| %>
  <%= render partial: "comment", object: comment %>
<% end %>